<!-- Cabecera -->
<mat-toolbar color="primary" class="header" role="heading">
  <mat-toolbar-col>
    <button mat-button routerLink="/">Inicio</button>
    <button mat-button [matMenuTriggerFor]="menu">Menú</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/nuevoContacto" routerLinkActive="active">Nuevo contacto</button>
      <button mat-menu-item routerLink="/listaContactos" routerLinkActive="active">Lista de contactos</button>
    </mat-menu>
  </mat-toolbar-col>
  <mat-toolbar-col class="toolbar-usar-todo-espacio" style="text-align: center;">
    <div>Agenda de Verónica Rodríguez Serrano</div>
  </mat-toolbar-col>
</mat-toolbar>

<router-outlet></router-outlet>