<!-- Formulario -->
<div class="container">
	<form>
		<mat-card>
			<h4>Añadir nuevo contacto</h4>
			<div [formGroup]="personaFormulario" class="controlers-wrapper">
				<!--nombre-->
				<div>
					<mat-form-field>
						<input matInput class="form-control" type="text" placeholder="Nombre"
							[formControl]="personaFormulario.controls['nombre_persona']">
						<mat-error *ngIf="this.personaFormulario.controls['nombre_persona'].hasError('required')">
							Debe escribir su <strong> nombre</strong>
						</mat-error>
					</mat-form-field>
				</div>
				<!--apellidos-->
				<div>
					<mat-form-field>
						<input matInput class="form-control" type="text" placeholder="Apellidos"
							[formControl]="personaFormulario.controls['apellidos_persona']">
						<mat-error *ngIf="this.personaFormulario.controls['apellidos_persona'].hasError('required')">
							Debe escribir sus <strong>apellidos</strong>
						</mat-error>
					</mat-form-field>
				</div>
				<!--edad-->
				<div>
					<mat-form-field>
						<input matInput class="form-control" type="number" placeholder="Edad"
							[formControl]="personaFormulario.controls['edad_persona']">
						<mat-error *ngIf="this.personaFormulario.controls['edad_persona'].hasError('required')">
							Debe introducir su <strong> edad </strong>
						</mat-error>
					</mat-form-field>
				</div>
				<!--dni-->
				<div>
					<mat-form-field>
						<input matInput class="form-control" type="text" placeholder="DNI"
							[formControl]="personaFormulario.controls['dni_persona']">
						<mat-error *ngIf="this.personaFormulario.controls['dni_persona'].hasError('required')">
							Debe introducir su <strong> dni. </strong>
						</mat-error>
					</mat-form-field>
				</div>
				<!--cumpleaños-->
				<div>
					<mat-form-field>
						<input matInput class="form-control" placeholder="Cumpleaños" [matDatepicker]="picker"
							[formControl]="personaFormulario.controls['cumpleanos_persona']">
						<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
						<mat-datepicker #picker></mat-datepicker>
						<mat-error *ngIf="this.personaFormulario.controls['cumpleanos_persona'].hasError('required')">
							Introduzca su fecha de <strong> cumpleaños </strong>
						</mat-error>
					</mat-form-field>
				</div>
				<!--color-->
				<div>
					<mat-form-field>
						<input matInput class="form-control" type="text" placeholder="Color Favorito"
							[formControl]="personaFormulario.controls['color_persona']">
						<mat-error *ngIf="this.personaFormulario.controls['color_persona'].hasError('required')">
							Debe introducir su <strong> color favorito</strong>
						</mat-error>
					</mat-form-field>
				</div>
				<!--sexo-->
				<div>
					<label id="label_persona_sexo">Sexo:</label>
					<mat-radio-group aria-labelledby="label_persona_sexo" class="list-radio-group"
						[formControl]="personaFormulario.controls['sexo_persona']">
						<mat-radio-button class="list-radio-button" *ngFor="let sexo of sexos" [value]="sexo">
							{{sexo}}
						</mat-radio-button>
					</mat-radio-group>
				</div>
			</div>
		</mat-card>

		<!--boton añadir persona-->
		<div class="container">
			<mat-chip-list aria-label="nueva persona">
				<mat-chip (click)="addPersona()" type="submit" routerLink="/listaContactos" [disabled]="!personaFormulario.valid">Añadir Persona
				</mat-chip>
			</mat-chip-list>
		</div>
	</form>
</div>