<!-- Formulario -->
<div class="container">
    <form (ngSubmit)="submitPersonaFormulario()" #resetPersonaFormulario="ngForm" novalidate>
        <mat-card>
            <div [formGroup]="personaFormulario" class="controlers-wrapper">
                <!-- Name -->
                <div>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Nombre" formControlName="nombre_persona">
                        <mat-error *ngIf="handleError('nombre_persona', 'required')">
                            Debe escribir su <strong> nombre</strong>
                        </mat-error>
                    </mat-form-field>
                </div>

                <!--Apellidos-->
                <div>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Apellidos" formControlName="apellidos_persona">
                        <mat-error *ngIf="handleError('apellidos_persona', 'required')">
                            Debe escribir sus <strong>apellidos</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <!--edad-->
                <div>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Edad" id="edad" formControlName="edad_persona" onblur="return validarRango(this);" maxlength="3">
                        <mat-error *ngIf="handleError('edad_persona', 'required')">
                            Debe introducir su <strong> edad </strong>
                        </mat-error>
                    </mat-form-field>
                </div>
               
                <!--dni-->
                <div>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="DNI" formControlName="dni_persona">
                        <mat-error *ngIf="handleError('dni_persona', 'required')">
                            Debe introducir su <strong> dni. </strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                           
                <!--Cumpleaños-->
                <div>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Cumpleaños" [matDatepicker]="picker" formControlName="cumpleaños_persona">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-error *ngIf="handleError('cumpleaños_persona', 'required')">
                        Introduzca su fecha de <strong> cumpleaños </strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <!--Color-->
                <div>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Color favorito" formControlName="color_persona">
                        <mat-error *ngIf="handleError('color_persona', 'required')">
                            Debe introducir su <strong> color favorito</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <!--Sexo-->
                <div>

                    <label>Sexo: </label>
                    <br>
                    <mat-radio-group >
                        <mat-radio-button value="Hombre">Hombre</mat-radio-button> &nbsp;
                        <mat-radio-button value="Mujer">Mujer</mat-radio-button> &nbsp;
                        <mat-radio-button value="Otro">Otro</mat-radio-button> &nbsp;
                        <mat-radio-button value="No especificado">No especificado</mat-radio-button> &nbsp;
                    </mat-radio-group>
                </div>
            </div>
        </mat-card>

        <!--boton añadir persona-->
        <div class= "container">
        <mat-chip-list aria-label="person selection">
            <mat-chip>Añadir Persona</mat-chip>
        </mat-chip-list>
    </div>
    </form>
</div>