<div class="container" *ngIf="servicioFormulario.arrayContactos.length > 0">
	<form>
		<mat-card>
            <h4>Editar contacto</h4>
			<div [formGroup]="contactoFormulario" class="controlers-wrapper">
				<!--nombre-->
				<div>
					<mat-form-field>
						<input matInput class="form-control" type="text" placeholder="Nombre"
							[formControl]="contactoFormulario.controls['nombre_contacto']">
						<mat-error *ngIf="this.contactoFormulario.controls['nombre_contacto'].hasError('required')">
							Debe escribir su <strong> nombre</strong>
						</mat-error>
					</mat-form-field>
				</div>
				<!--apellidos-->
				<div>
					<mat-form-field>
						<input matInput class="form-control" type="text" placeholder="Apellidos"
							[formControl]="contactoFormulario.controls['apellidos_contacto']">
						<mat-error *ngIf="this.contactoFormulario.controls['apellidos_contacto'].hasError('required')">
							Debe escribir sus <strong>apellidos</strong>
						</mat-error>
					</mat-form-field>
				</div>
				<!--edad-->
				<div>
					<mat-form-field>
						<input matInput class="form-control" type="number" placeholder="Edad"
							[formControl]="contactoFormulario.controls['edad_contacto']">
						<mat-error *ngIf="this.contactoFormulario.controls['edad_contacto'].hasError('required')">
							Debe introducir su <strong> edad </strong>
						</mat-error>
					</mat-form-field>
				</div>
				<!--dni-->
				<div>
					<mat-form-field>
						<input matInput class="form-control" type="text" placeholder="DNI"
							[formControl]="contactoFormulario.controls['dni_contacto']">
						<mat-error *ngIf="this.contactoFormulario.controls['dni_contacto'].hasError('required')">
							Debe introducir su <strong> dni. </strong>
						</mat-error>
					</mat-form-field>
				</div>
				<!--cumpleaños-->
				<div>
					<mat-form-field>
						<input matInput class="form-control" placeholder="Cumpleaños" [matDatepicker]="picker"
							[formControl]="contactoFormulario.controls['cumpleanos_contacto']">
						<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
						<mat-datepicker #picker></mat-datepicker>
						<mat-error *ngIf="this.contactoFormulario.controls['cumpleanos_contacto'].hasError('required')">
							Introduzca su fecha de <strong> cumpleaños </strong>
						</mat-error>
					</mat-form-field>
				</div>
				<!--color-->
				<div>
					<mat-form-field>
						<input matInput class="form-control" type="text" placeholder="Color Favorito"
							[formControl]="contactoFormulario.controls['color_contacto']">
						<mat-error *ngIf="this.contactoFormulario.controls['color_contacto'].hasError('required')">
							Debe introducir su <strong> color favorito</strong>
						</mat-error>
					</mat-form-field>
				</div>
				<!--sexo-->
				<div>
					<label id="label_contacto_sexo">Sexo:</label>
					<mat-radio-group aria-labelledby="label_contacto_sexo" class="list-radio-group"
						[formControl]="contactoFormulario.controls['sexo_contacto']">
						<mat-radio-button class="list-radio-button" *ngFor="let sexo of sexos" [value]="sexo">
							{{sexo}}
						</mat-radio-button>
					</mat-radio-group>
				</div>
			</div>
		</mat-card>

		<!--boton añadir contacto-->
		<div class="container">
			<mat-chip-list aria-label="editar contacto">
				<mat-chip (click)="editarContacto()" type="submit" routerLink="/listaContactos" [disabled]="!contactoFormulario.valid">Editar Contacto
				</mat-chip>
			</mat-chip-list>
		</div>
	</form>
</div>